@model List<Course>
@using Microsoft.AspNetCore.Identity
@inject UserManager<OnlineEducationAPP.MvcWebUI.Identity.ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<div class="row match-height">
    <div class="col-md-12">
        <div class="card" style="margin-top: 100px">
            <div class="card-header">
                <h1 class="card-title">Broadcast Form</h1>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <form id="streamForm" class="form">
                        <div class="row justify-content-md-center">
                            <div class="col-md-6">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label for="streamName">Stream Name</label>
                                        <input type="text" id="streamName" class="form-control" placeholder="Stream Name" name="StreamName">
                                    </div>
                                    <input type="text" id="userId" value="@UserManager.GetUserId(User)" hidden />
                                    <div class="form-group">
                                        <label for="courseId">Course Names</label>
                                        <select id="courseId" class="selectBox selectBox-lg">
                                            @foreach (var course in Model)
                                            {
                                                <option value="@course.Id">@course.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions center">
                            <button id="btnSubmit" type="submit" class="btn btn-primary">
                                <i class="la la-check-square-o"></i> Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/app-assets/vendors/js/forms/select/jquery.selectBoxIt.min.js"
        type="text/javascript"></script>
<script src="~/app-assets/js/scripts/forms/select/form-selectBoxIt.js" type="text/javascript"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function (e) {
          
            var streamName = $('#streamName').val();
            var courseId = $('#courseId').val();
            var userId = $('#userId').val();
            $.ajax({
                url: "/Stream/Create",
                type: 'POST',
                data: { 'courseId': courseId, 'streamName': streamName, 'userId': userId },
                cache: false,
                success: function (data) {
                    alert("posted");
                }
                
            });
            e.preventDefault();
        });
       
    });
</script>