<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    @{Html.RenderPartial("_CssJsLinks");}

</head>

<body>
    @Html.Partial("_Header")
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    @Html.Partial("_Navbar")
    <div class="app-content container center-layout mt-2">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div>
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
</body>

</html>