<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    @{Html.RenderPartial("_CssJsLinks");}

</head>

<body>
    @Html.Partial("_Header")
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    @Html.Partial("_Navbar")

    @RenderBody()
    <!-- ////////////////////////////////////////////////////////////////////////////-->
</body>

</html>